<!DOCTYPE web-app PUBLIC "-//Sun Microsystems,  Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <filter>
        <filter-name>corsFilter</filter-name>
        <filter-class>br.gov.sp.fatec.projetomaven.controller.CorsFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>corsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>logFilter</filter-name>
        <filter-class>br.gov.sp.fatec.projetomaven.controller.LogFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>logFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>mainServlet</servlet-name>
        <servlet-class>br.gov.sp.fatec.projetomaven.controller.MainController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mainServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>desenvolvedorServlet</servlet-name>
        <servlet-class>br.gov.sp.fatec.projetomaven.controller.DesenvolvedorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>desenvolvedorServlet</servlet-name>
        <url-pattern>/dev</url-pattern>
    </servlet-mapping>
</web-app>